$footer-height: 106px;

body {
  background-color: $body-background;
  margin: 0;
}

%restricted-width-area {
  margin: 0 auto;
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 680px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1200px) {
    padding-left: 160px;
    padding-right: 160px;
  }
}


.main {
  @extend %restricted-width-area;
  display: block;
  min-height: calc(100vh - #{$header-height + $footer-height});
  overflow: hidden;
}

%primary-section {
  padding: 1.5rem 0;

  @media screen and (min-width: 800px) {
    padding: 3rem 0;
  }
}

.intro {
  @extend %primary-section;

  $intro-horiz-bp: 700px;

  align-items: center;
  display: flex;
  display: grid; //sass-lint:disable-line no-duplicate-properties
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);

  @media screen and (min-width: $intro-horiz-bp) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__hero {
    justify-self: center;
    max-height: 350px;
    max-width: 400px;
    width: 100%;

    @media screen and (min-width: $intro-horiz-bp) {
      order: 1;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    %child {
      margin: 2rem 0;
    }

    &__title {
      @extend %child;
    }

    &__description {
      @extend %child;
    }
  }
}

.repos {
  @extend %primary-section;

  display: flex;
  display: grid; //sass-lint:disable-line no-duplicate-properties
  flex-flow: row wrap;
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  grid-template-columns: repeat(1, 1fr);
  justify-content: space-between;

  @media screen and (min-width: 680px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1500px) {
    grid-template-columns: repeat(4, 1fr);
  }
}
