// sass-lint:disable no-url-protocols
// sass-lint:disable no-url-domains

$body-color: #323232;

@font-face {
  font-family: ibm-plex-sans;
  font-style: normal;
  font-weight: 300;
  src:
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff') format('woff'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-light.woff2') format('woff2');
}

@font-face {
  font-family: ibm-plex-sans;
  font-style: normal;
  font-weight: 400;
  src:
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff') format('woff'),
  url('https://1.www.s81c.com/common/fonts/plex/v1/ibmplexsans-regular.woff2') format('woff2');
}

@font-face {
  font-family: icons-ibm-v10;
  font-style: normal;
  font-weight: normal;
  src: url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.eot');
  src: url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.eot?#iefix') format('embedded-opentype'), url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.woff') format('woff'), url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.ttf') format('truetype'), url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.svg#icons-ibm-v10') format('svg'); // sass-lint:disable-line no-duplicate-properties

}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: icons-ibm-v10;
    src: url('https://1.www.s81c.com/common/fonts/icons-ibm-v10.svg#icons-ibm-v10') format('svg');
  }
}

html {
  color: $body-color;
  font-family: ibm-plex-sans, Arial, sans-serif;
  font-size: 16px;
}
