.repo {
  background-color: $panel-background;
  border: 1px solid $panel-border;
  color: inherit;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 10px 0;
  padding: 44px 20px 20px;
  text-decoration: none;
  width: 32%;

  @supports (display: grid) {
    margin: 0;
    width: auto;
  }

  &:hover {
    border-color: $panel-background-hover;
    border-width: 1px 1px 2px;
    padding-bottom: 19px;
  }

  &__header {
    color: $panel-title;
    font-size: 20px;
    font-weight: 300;
    padding-right: 12px;
    position: relative;
    text-align: center;

    &::after {
      background-image: url('{{ site.baseurl }}/imgs/arrow.png');
      background-size: cover;
      content: ' ';
      display: inline-block;
      height: 8px;
      margin-left: 4px;
      margin-right: -12px;
      vertical-align: middle;
      width: 8px;
    }
  }
}
